@font-face {
    font-family: 'Unica One';
    src: url('../media/fonts/unica-one/unica-one-regular.woff2') format('woff2'),
         url('../media/fonts/unica-one/unica-one-regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Open Sans';
    src: url('../media/fonts/open-sans/open-sans-300.woff2') format('woff2'),
         url('../media/fonts/open-sans/open-sans-300.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Open Sans';
    src: url('../media/fonts/open-sans/open-sans-regular.woff2') format('woff2'),
         url('../media/fonts/open-sans/open-sans-regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Open Sans';
    src: url('../media/fonts/open-sans/open-sans-800.woff2') format('woff2'),
         url('../media/fonts/open-sans/open-sans-800.woff') format('woff');
    font-weight: 800;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Open Sans';
    src: url('../media/fonts/open-sans/open-sans-300italic.woff2') format('woff2'),
         url('../media/fonts/open-sans/open-sans-300italic.woff') format('woff');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Open Sans';
    src: url('../media/fonts/open-sans/open-sans-regular.woff2') format('woff2'),
         url('../media/fonts/open-sans/open-sans-regular.woff') format('woff');
    font-weight: 400;
    font-style: italic;
    font-display: swap;
}